body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

#map-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

#map1, #map2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.geoman-control {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}